.confirm-page{
    margin: 0px 100px 0px 100px;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-check{
    font-size: 100px;
    /* color: #EBD96B; */
    color: darkorange;
}