.single-product{
    padding: 30px 100px;
    display: flex;
    gap: 30px;
    font-family: 'Poppins';
}

.product-name-single{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    min-height: 100px;
}

.product-price{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.image{
    height: 283.50px;
    width: 504px;
}

.quantity{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.product-quantity{
    font-size: 20px;
}

.selector-btn{
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 400ms;
}

.selector-btn:hover{
    background-color: black;
    color: white;
}

.product-description{
    margin-top: 20px;
}

.additional-images{
    display: flex;
    gap: 20px;
}

.additional-images img{
    width: 70px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #EBD96B;
    cursor: pointer;
}

.review-form{
    font-family: 'Poppins';
    font-size: 20px;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 100px;
    transition: 300ms;
    border: 1px solid rgba(100, 100, 111, 0.2);
}

.review-form textarea {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    min-height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    border: 3px solid #e4e4e4;
    box-sizing: border-box;
    resize: none;
    transition: 300ms;
    outline: none;
}

.review-form textarea:focus {
    border: 3px solid rgb(79, 173, 255);
}

.review-container{
    margin-left: 80px;
    margin-right: 100px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.review{
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0px 20px 20px;
    box-shadow: rgba(100, 100, 111, 0.43) 0px 7px 29px 0px;
}