.all-users {
    display: flex;
}

.users-container{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.user-table{
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.single-user{
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    height: auto;
    height: 80px;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
}

.role-select{
    height: 40px;
    cursor: pointer;
}